.formPage{
    div{

        margin-bottom: 40px;
        h2{
            text-align: center;
            color: #307BC6;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                border-radius: 20px; 
                border-style: none;
                border: 1px solid #307BC6;
                padding: 10px;
                margin: 10px;
                font-size: 14px;
                width: 300px;
                text-decoration: none;
            }
            button{
                border-radius: 20px; 
                border-style: none;
                background-color: #307BC6;
                padding: 10px;
                margin: 10px;
                font-size: 14px;
                width: 120px;
                text-decoration: none;
                color: white;
            }
        }
    }
}


router-link{
    text-decoration: none;
}